**Spark NLP Basics and Pretrained Pipelines**

In [1]:
! pip install -q pyspark==3.1.2 spark-nlp

     |████████████████████████████████| 212.4 MB 67 kB/s
     |████████████████████████████████| 133 kB 50.5 MB/s
     |████████████████████████████████| 198 kB 45.9 MB/s
  Building wheel for pyspark (setup.py) ... done

In [2]:
import sparknlp

spark = sparknlp.start()

print(f"Soark NLP version: {sparknlp.version()}")
print(f"Apache Spark version: {spark.version}")

Soark NLP version: 3.3.4
Apache Spark version: 3.1.2

In [3]:
! cd ~/.ivy2/cache/com.johnsnowlabs.nlp/spark-nlp_2.12/jars && ls -lt

total 38992
-rw-r--r-- 1 root root 39925796 Nov 25 14:01 spark-nlp_2.12-3.3.4.jar

In [4]:
from sparknlp.pretrained import PretrainedPipeline

In [5]:
testDoc = '''
The misson of the United States Air Frce is to fly, fight and win - airpower anytime, nywhere. Whether full time, part time, in or out of uniorm, everyone who serves plays a critial role in helping us achieve mission sccess.
'''

**Explain Document ML**

In [6]:
pipeline = PretrainedPipeline('explain_document_ml', lang= 'en')

explain_document_ml download started this may take some time.
Approx size to download 9.1 MB
[OK!]

In [7]:
pipeline.model.stages

[document_811d40a38b24,
 SENTENCE_ce56851acebe,
 REGEX_TOKENIZER_78daa3b4692f,
 SPELL_79c88338ef12,
 LEMMATIZER_c62ad8f355f9,
 STEMMER_caf11d1f4d0e,
 POS_dbb704204f6f]

In [8]:
#help(PretrainedPipeline)

In [9]:
%%time
result = pipeline.annotate(testDoc)

CPU times: user 32.3 ms, sys: 9.56 ms, total: 41.9 ms
Wall time: 1.83 s

In [10]:
result.keys()

dict_keys(['document', 'spell', 'pos', 'lemmas', 'token', 'stems', 'sentence'])

In [11]:
result['sentence']

['The misson of the United States Air Frce is to fly, fight and win - airpower anytime, nywhere.',
 'Whether full time, part time, in or out of uniorm, everyone who serves plays a critial role in helping us achieve mission sccess.']

In [12]:
result['token']

['The',
 'misson',
 'of',
 'the',
 'United',
 'States',
 'Air',
 'Frce',
 'is',
 'to',
 'fly',
 ',',
 'fight',
 'and',
 'win',
 '-',
 'airpower',
 'anytime',
 ',',
 'nywhere',
 '.',
 'Whether',
 'full',
 'time',
 ',',
 'part',
 'time',
 ',',
 'in',
 'or',
 'out',
 'of',
 'uniorm',
 ',',
 'everyone',
 'who',
 'serves',
 'plays',
 'a',
 'critial',
 'role',
 'in',
 'helping',
 'us',
 'achieve',
 'mission',
 'sccess',
 '.']

In [13]:
list(zip(result['token'],result['pos']))

[('The', 'DT'),
 ('misson', 'NN'),
 ('of', 'IN'),
 ('the', 'DT'),
 ('United', 'NNP'),
 ('States', 'NNPS'),
 ('Air', 'NNP'),
 ('Frce', 'NNP'),
 ('is', 'VBZ'),
 ('to', 'TO'),
 ('fly', 'VB'),
 (',', ','),
 ('fight', 'NN'),
 ('and', 'CC'),
 ('win', 'VB'),
 ('-', ':'),
 ('airpower', 'NN'),
 ('anytime', 'RB'),
 (',', ','),
 ('nywhere', 'RB'),
 ('.', '.'),
 ('Whether', 'IN'),
 ('full', 'JJ'),
 ('time', 'NN'),
 (',', ','),
 ('part', 'NN'),
 ('time', 'NN'),
 (',', ','),
 ('in', 'IN'),
 ('or', 'CC'),
 ('out', 'IN'),
 ('of', 'IN'),
 ('uniorm', 'NN'),
 (',', ','),
 ('everyone', 'NN'),
 ('who', 'WP'),
 ('serves', 'VBZ'),
 ('plays', 'VBZ'),
 ('a', 'DT'),
 ('critial', 'JJ'),
 ('role', 'NN'),
 ('in', 'IN'),
 ('helping', 'VBG'),
 ('us', 'PRP'),
 ('achieve', 'VBP'),
 ('mission', 'NN'),
 ('sccess', 'NN'),
 ('.', '.')]

In [14]:
list(zip(result['token'], result['lemmas'], result['stems'], result['spell']))

[('The', 'The', 'the', 'The'),
 ('misson', 'mission', 'mission', 'mission'),
 ('of', 'of', 'of', 'of'),
 ('the', 'the', 'the', 'the'),
 ('United', 'United', 'unit', 'United'),
 ('States', 'States', 'state', 'States'),
 ('Air', 'Air', 'air', 'Air'),
 ('Frce', 'Free', 'free', 'Free'),
 ('is', 'be', 'i', 'is'),
 ('to', 'to', 'to', 'to'),
 ('fly', 'fly', 'fly', 'fly'),
 (',', ',', ',', ','),
 ('fight', 'fight', 'fight', 'fight'),
 ('and', 'and', 'and', 'and'),
 ('win', 'win', 'win', 'win'),
 ('-', '-', '-', '-'),
 ('airpower', 'airpower', 'airpow', 'airpower'),
 ('anytime', 'anytime', 'anytim', 'anytime'),
 (',', ',', ',', ','),
 ('nywhere', 'anywhere', 'anywher', 'anywhere'),
 ('.', '.', '.', '.'),
 ('Whether', 'Whether', 'whether', 'Whether'),
 ('full', 'full', 'full', 'full'),
 ('time', 'time', 'time', 'time'),
 (',', ',', ',', ','),
 ('part', 'part', 'part', 'part'),
 ('time', 'time', 'time', 'time'),
 (',', ',', ',', ','),
 ('in', 'in', 'in', 'in'),
 ('or', 'or', 'or', 'or'),
 ('out', 'out', 'out', 'out'),
 ('of', 'of', 'of', 'of'),
 ('uniorm', 'uniform', 'uniform', 'uniform'),
 (',', ',', ',', ','),
 ('everyone', 'everyone', 'everyon', 'everyone'),
 ('who', 'who', 'who', 'who'),
 ('serves', 'serve', 'serv', 'serves'),
 ('plays', 'play', 'plai', 'plays'),
 ('a', 'a', 'a', 'a'),
 ('critial', 'critical', 'critic', 'critical'),
 ('role', 'role', 'role', 'role'),
 ('in', 'in', 'in', 'in'),
 ('helping', 'help', 'help', 'helping'),
 ('us', 'we', 'u', 'us'),
 ('achieve', 'achieve', 'achiev', 'achieve'),
 ('mission', 'mission', 'mission', 'mission'),
 ('sccess', 'access', 'access', 'access'),
 ('.', '.', '.', '.')]

In [15]:
import pandas as pd
pd.set_option("display.max_rows", 100)

In [16]:
df = pd.DataFrame({'token':result['token'], 
                   'corrected':result['spell'], 'POS':result['pos'],
                   'lemmas':result['lemmas'], 'stems':result['stems']})
df

       token corrected   POS    lemmas    stems
0        The       The    DT       The      the
1     misson   mission    NN   mission  mission
2         of        of    IN        of       of
3        the       the    DT       the      the
4     United    United   NNP    United     unit
5     States    States  NNPS    States    state
6        Air       Air   NNP       Air      air
7       Frce      Free   NNP      Free     free
8         is        is   VBZ        be        i
9         to        to    TO        to       to
10       fly       fly    VB       fly      fly
11         ,         ,     ,         ,        ,
12     fight     fight    NN     fight    fight
13       and       and    CC       and      and
14       win       win    VB       win      win
15         -         -     :         -        -
16  airpower  airpower    NN  airpower   airpow
17   anytime   anytime    RB   anytime   anytim
18         ,         ,     ,         ,        ,
19   nywhere  anywhere    RB  anywhere  anywher
20         .         .     .         .        .
21   Whether   Whether    IN   Whether  whether
22      full      full    JJ      full     full
23      time      time    NN      time     time
24         ,         ,     ,         ,        ,
25      part      part    NN      part     part
26      time      time    NN      time     time
27         ,         ,     ,         ,        ,
28        in        in    IN        in       in
29        or        or    CC        or       or
30       out       out    IN       out      out
31        of        of    IN        of       of
32    uniorm   uniform    NN   uniform  uniform
33         ,         ,     ,         ,        ,
34  everyone  everyone    NN  everyone  everyon
35       who       who    WP       who      who
36    serves    serves   VBZ     serve     serv
37     plays     plays   VBZ      play     plai
38         a         a    DT         a        a
39   critial  critical    JJ  critical   critic
40      role      role    NN      role     role
41        in        in    IN        in       in
42   helping   helping   VBG      help     help
43        us        us   PRP        we        u
44   achieve   achieve   VBP   achieve   achiev
45   mission   mission    NN   mission  mission
46    sccess    access    NN    access   access
47         .         .     .         .        .

**Explain Document DL**

In [17]:
pipeline_dl = PretrainedPipeline('explain_document_dl', lang= 'en')

explain_document_dl download started this may take some time.
Approx size to download 169.4 MB
[OK!]

In [18]:
pipeline_dl.model.stages

[document_7939d5bf1083,
 SENTENCE_05265b07c745,
 REGEX_TOKENIZER_c5c312143f63,
 SPELL_e4ea67180337,
 LEMMATIZER_c62ad8f355f9,
 STEMMER_ba49f7631065,
 POS_d01c734956fe,
 WORD_EMBEDDINGS_MODEL_48cffc8b9a76,
 NerDLModel_d4424c9af5f4,
 NER_CONVERTER_a81db9af2d23]

In [23]:
pipeline_dl.model.stages[-2].getStorageRef()

'glove_100d'

In [29]:
pipeline_dl.model.stages[-2].getClasses()

['O', 'B-ORG', 'B-LOC', 'B-PER', 'I-PER', 'I-ORG', 'B-MISC', 'I-LOC', 'I-MISC']

In [30]:
%%time

result = pipeline_dl.annotate(testDoc)

result.keys()

CPU times: user 38.2 ms, sys: 5.35 ms, total: 43.5 ms
Wall time: 1.49 s

In [31]:
result.keys()

dict_keys(['entities', 'stem', 'checked', 'lemma', 'document', 'pos', 'token', 'ner', 'embeddings', 'sentence'])

In [32]:
result['entities']

['United States Air Frce']

In [34]:
result['lemma']

['The',
 'mission',
 'of',
 'the',
 'United',
 'States',
 'Air',
 'Free',
 'be',
 'to',
 'fly',
 ',',
 'fight',
 'and',
 'win',
 '-',
 'airpower',
 'anytime',
 ',',
 'anywhere',
 '.',
 'Whether',
 'full',
 'time',
 ',',
 'part',
 'time',
 ',',
 'in',
 'or',
 'out',
 'of',
 'uniform',
 ',',
 'everyone',
 'who',
 'serve',
 'play',
 'a',
 'critical',
 'role',
 'in',
 'help',
 'we',
 'achieve',
 'mission',
 'access',
 '.']

In [35]:
df = pd.DataFrame({'token':result['token'], 'ner_label':result['ner'],
                      'spell_corrected':result['checked'], 'POS':result['pos'],
                      'lemmas':result['lemma'], 'stems':result['stem']})

In [36]:
df

       token ner_label spell_corrected   POS    lemmas    stems
0        The         O             The    DT       The      the
1     misson         O         mission    NN   mission  mission
2         of         O              of    IN        of       of
3        the         O             the    DT       the      the
4     United     B-ORG          United   NNP    United     unit
5     States     I-ORG          States  NNPS    States    state
6        Air     I-ORG             Air   NNP       Air      air
7       Frce     I-ORG            Free   NNP      Free     free
8         is         O              is   VBZ        be        i
9         to         O              to    TO        to       to
10       fly         O             fly    VB       fly      fly
11         ,         O               ,     ,         ,        ,
12     fight         O           fight    NN     fight    fight
13       and         O             and    CC       and      and
14       win         O             win    VB       win      win
15         -         O               -     :         -        -
16  airpower         O        airpower    NN  airpower   airpow
17   anytime         O         anytime    NN   anytime   anytim
18         ,         O               ,     ,         ,        ,
19   nywhere         O        anywhere    RB  anywhere  anywher
20         .         O               .     .         .        .
21   Whether         O         Whether    IN   Whether  whether
22      full         O            full    JJ      full     full
23      time         O            time    NN      time     time
24         ,         O               ,     ,         ,        ,
25      part         O            part    NN      part     part
26      time         O            time    NN      time     time
27         ,         O               ,     ,         ,        ,
28        in         O              in    IN        in       in
29        or         O              or    CC        or       or
30       out         O             out    IN       out      out
31        of         O              of    IN        of       of
32    uniorm         O         uniform    NN   uniform  uniform
33         ,         O               ,     ,         ,        ,
34  everyone         O        everyone    NN  everyone  everyon
35       who         O             who    WP       who      who
36    serves         O          serves   VBZ     serve     serv
37     plays         O           plays   VBZ      play     plai
38         a         O               a    DT         a        a
39   critial         O        critical    JJ  critical   critic
40      role         O            role    NN      role     role
41        in         O              in    IN        in       in
42   helping         O         helping   VBG      help     help
43        us         O              us   PRP        we        u
44   achieve         O         achieve   VBP   achieve   achiev
45   mission         O         mission    NN   mission  mission
46    sccess         O          access    NN    access   access
47         .         O               .     .         .        .

**Recognize Entities DL**

In [37]:
recognize_entities = PretrainedPipeline('recognize_entities_dl', lang='en')

recognize_entities_dl download started this may take some time.
Approx size to download 160.1 MB
[OK!]

In [38]:
recognize_entities.model.stages

[document_1c58bc1aca5d,
 SENTENCE_328d8a47c1a8,
 REGEX_TOKENIZER_b6c4cbc5a4ea,
 WORD_EMBEDDINGS_MODEL_48cffc8b9a76,
 NerDLModel_d4424c9af5f4,
 NER_CONVERTER_389b80afbf7d]

In [41]:
recognize_entities.model.stages[3].getStorageRef()

'glove_100d'

In [43]:
recognize_entities.model.stages[4].getClasses()

['O', 'B-ORG', 'B-LOC', 'B-PER', 'I-PER', 'I-ORG', 'B-MISC', 'I-LOC', 'I-MISC']

In [44]:
testDoc

'\nThe misson of the United States Air Frce is to fly, fight and win - airpower anytime, nywhere. Whether full time, part time, in or out of uniorm, everyone who serves plays a critial role in helping us achieve mission sccess.\n'

In [46]:
result = recognize_entities.annotate(testDoc)

In [47]:
list(zip(result['token'], result['ner']))

[('The', 'O'),
 ('misson', 'O'),
 ('of', 'O'),
 ('the', 'O'),
 ('United', 'B-ORG'),
 ('States', 'I-ORG'),
 ('Air', 'I-ORG'),
 ('Frce', 'I-ORG'),
 ('is', 'O'),
 ('to', 'O'),
 ('fly', 'O'),
 (',', 'O'),
 ('fight', 'O'),
 ('and', 'O'),
 ('win', 'O'),
 ('-', 'O'),
 ('airpower', 'O'),
 ('anytime', 'O'),
 (',', 'O'),
 ('nywhere', 'O'),
 ('.', 'O'),
 ('Whether', 'O'),
 ('full', 'O'),
 ('time', 'O'),
 (',', 'O'),
 ('part', 'O'),
 ('time', 'O'),
 (',', 'O'),
 ('in', 'O'),
 ('or', 'O'),
 ('out', 'O'),
 ('of', 'O'),
 ('uniorm', 'O'),
 (',', 'O'),
 ('everyone', 'O'),
 ('who', 'O'),
 ('serves', 'O'),
 ('plays', 'O'),
 ('a', 'O'),
 ('critial', 'O'),
 ('role', 'O'),
 ('in', 'O'),
 ('helping', 'O'),
 ('us', 'O'),
 ('achieve', 'O'),
 ('mission', 'O'),
 ('sccess', 'O'),
 ('.', 'O')]

**Clean Stop Words**

In [48]:
clean_stop = PretrainedPipeline('clean_stop', lang='en')

clean_stop download started this may take some time.
Approx size to download 22.8 KB
[OK!]

In [49]:
clean_stop.model.stages # clean stop pipeline stages

[document_90b4be8a6e0b,
 SENTENCE_8ba1e4f73af0,
 REGEX_TOKENIZER_fb4f98b445ce,
 STOPWORDS_CLEANER_b5d381c851f5]

In [50]:
result = clean_stop.annotate(testDoc)
result.keys()

dict_keys(['document', 'sentence', 'token', 'cleanTokens'])

In [51]:
result['cleanTokens']

['misson',
 'United',
 'States',
 'Air',
 'Frce',
 'fly',
 ',',
 'fight',
 'win',
 '-',
 'airpower',
 'anytime',
 ',',
 'nywhere',
 '.',
 'time',
 ',',
 'time',
 ',',
 'uniorm',
 ',',
 'serves',
 'plays',
 'critial',
 'role',
 'helping',
 'achieve',
 'mission',
 'sccess',
 '.']

In [52]:
' '.join(result['cleanTokens'])

'misson United States Air Frce fly , fight win - airpower anytime , nywhere . time , time , uniorm , serves plays critial role helping achieve mission sccess .'

**Spell Checker**

In [53]:
spell_checker = PretrainedPipeline('check_spelling', lang='en')

check_spelling download started this may take some time.
Approx size to download 913.5 KB
[OK!]

In [54]:
result = spell_checker.annotate(testDoc)

In [55]:
result.keys()

dict_keys(['document', 'sentence', 'token', 'checked'])

In [56]:
list(zip(result['token'], result['checked']))

[('The', 'The'),
 ('misson', 'mission'),
 ('of', 'of'),
 ('the', 'the'),
 ('United', 'United'),
 ('States', 'States'),
 ('Air', 'Air'),
 ('Frce', 'Free'),
 ('is', 'is'),
 ('to', 'to'),
 ('fly', 'fly'),
 (',', ','),
 ('fight', 'fight'),
 ('and', 'and'),
 ('win', 'win'),
 ('-', '-'),
 ('airpower', 'airpower'),
 ('anytime', 'anytime'),
 (',', ','),
 ('nywhere', 'anywhere'),
 ('.', '.'),
 ('Whether', 'Whether'),
 ('full', 'full'),
 ('time', 'time'),
 (',', ','),
 ('part', 'part'),
 ('time', 'time'),
 (',', ','),
 ('in', 'in'),
 ('or', 'or'),
 ('out', 'out'),
 ('of', 'of'),
 ('uniorm', 'uniform'),
 (',', ','),
 ('everyone', 'everyone'),
 ('who', 'who'),
 ('serves', 'serves'),
 ('plays', 'plays'),
 ('a', 'a'),
 ('critial', 'critical'),
 ('role', 'role'),
 ('in', 'in'),
 ('helping', 'helping'),
 ('us', 'us'),
 ('achieve', 'achieve'),
 ('mission', 'mission'),
 ('sccess', 'access'),
 ('.', '.')]

**Parsing a list of texts**

In [57]:
testDoc_list = ['French author who helped pioner the science-fiction genre.',
'Verne wrate about space, air, and underwater travel before navigable aircrast',
'Practical submarines were invented, and before any means of space travel had been devised.']

testDoc_list

['French author who helped pioner the science-fiction genre.',
 'Verne wrate about space, air, and underwater travel before navigable aircrast',
 'Practical submarines were invented, and before any means of space travel had been devised.']

In [58]:
pipeline = PretrainedPipeline('explain_document_ml', lang='en')

explain_document_ml download started this may take some time.
Approx size to download 9.1 MB
[OK!]

In [59]:
result_list = pipeline.annotate(testDoc_list)

len (result_list)

3

In [61]:
result_list

[{'document': ['French author who helped pioner the science-fiction genre.'],
  'lemmas': ['French',
   'author',
   'who',
   'help',
   'pioneer',
   'the',
   'sciencefiction',
   'genre',
   '.'],
  'pos': ['JJ', 'NN', 'WP', 'VBD', 'NN', 'DT', 'NN', 'NN', '.'],
  'sentence': ['French author who helped pioner the science-fiction genre.'],
  'spell': ['French',
   'author',
   'who',
   'helped',
   'pioneer',
   'the',
   'sciencefiction',
   'genre',
   '.'],
  'stems': ['french',
   'author',
   'who',
   'help',
   'pioneer',
   'the',
   'sciencefict',
   'genr',
   '.'],
  'token': ['French',
   'author',
   'who',
   'helped',
   'pioner',
   'the',
   'science-fiction',
   'genre',
   '.']},
 {'document': ['Verne wrate about space, air, and underwater travel before navigable aircrast'],
  'lemmas': ['Verne',
   'write',
   'about',
   'space',
   ',',
   'air',
   ',',
   'and',
   'underwater',
   'travel',
   'before',
   'navigable',
   'aircraft'],
  'pos': ['NNP',
   'VBD',
   'IN',
   'NN',
   ',',
   'NN',
   ',',
   'CC',
   'JJ',
   'NN',
   'IN',
   'JJ',
   'NN'],
  'sentence': ['Verne wrate about space, air, and underwater travel before navigable aircrast'],
  'spell': ['Verne',
   'wrote',
   'about',
   'space',
   ',',
   'air',
   ',',
   'and',
   'underwater',
   'travel',
   'before',
   'navigable',
   'aircraft'],
  'stems': ['vern',
   'wrote',
   'about',
   'space',
   ',',
   'air',
   ',',
   'and',
   'underwat',
   'travel',
   'befor',
   'navig',
   'aircraft'],
  'token': ['Verne',
   'wrate',
   'about',
   'space',
   ',',
   'air',
   ',',
   'and',
   'underwater',
   'travel',
   'before',
   'navigable',
   'aircrast']},
 {'document': ['Practical submarines were invented, and before any means of space travel had been devised.'],
  'lemmas': ['Practical',
   'submarine',
   'be',
   'invent',
   ',',
   'and',
   'before',
   'any',
   'mean',
   'of',
   'space',
   'travel',
   'have',
   'be',
   'devise',
   '.'],
  'pos': ['NNP',
   'NNS',
   'VBD',
   'VBN',
   ',',
   'CC',
   'IN',
   'DT',
   'NNS',
   'IN',
   'NN',
   'NN',
   'VBD',
   'VBN',
   'VBN',
   '.'],
  'sentence': ['Practical submarines were invented, and before any means of space travel had been devised.'],
  'spell': ['Practical',
   'submarines',
   'were',
   'invented',
   ',',
   'and',
   'before',
   'any',
   'means',
   'of',
   'space',
   'travel',
   'had',
   'been',
   'devised',
   '.'],
  'stems': ['practic',
   'submarin',
   'were',
   'invent',
   ',',
   'and',
   'befor',
   'ani',
   'mean',
   'of',
   'space',
   'travel',
   'had',
   'been',
   'devis',
   '.'],
  'token': ['Practical',
   'submarines',
   'were',
   'invented',
   ',',
   'and',
   'before',
   'any',
   'means',
   'of',
   'space',
   'travel',
   'had',
   'been',
   'devised',
   '.']}]

In [60]:
result_list[0]

{'document': ['French author who helped pioner the science-fiction genre.'],
 'lemmas': ['French',
  'author',
  'who',
  'help',
  'pioneer',
  'the',
  'sciencefiction',
  'genre',
  '.'],
 'pos': ['JJ', 'NN', 'WP', 'VBD', 'NN', 'DT', 'NN', 'NN', '.'],
 'sentence': ['French author who helped pioner the science-fiction genre.'],
 'spell': ['French',
  'author',
  'who',
  'helped',
  'pioneer',
  'the',
  'sciencefiction',
  'genre',
  '.'],
 'stems': ['french',
  'author',
  'who',
  'help',
  'pioneer',
  'the',
  'sciencefict',
  'genr',
  '.'],
 'token': ['French',
  'author',
  'who',
  'helped',
  'pioner',
  'the',
  'science-fiction',
  'genre',
  '.']}

**Using fullAnnotate to get more details**



```
annotatorType: String, 
begin: Int, 
end: Int, 
result: String, (this is what annotate returns)
metadata: Map[String, String], 
embeddings: Array[Float]
```

In [64]:
text = 'Peter Parker is a nice guy and lives in New York'

In [65]:
# pipeline_dl >> explain_document_dl

detailed_result = pipeline_dl.fullAnnotate(text)

In [68]:
detailed_result

[{'checked': [Annotation(token, 0, 4, Peter, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 6, 11, Parker, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 13, 14, is, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 16, 16, a, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 18, 21, nice, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 23, 25, guy, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 27, 29, and, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 31, 35, lives, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 37, 38, in, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 40, 42, New, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 44, 47, York, {'confidence': '1.0', 'sentence': '0'})],
  'document': [Annotation(document, 0, 47, Peter Parker is a nice guy and lives in New York, {})],
  'embeddings': [Annotation(word_embeddings, 0, 4, Peter, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'Peter', 'sentence': '0'}),
   Annotation(word_embeddings, 6, 11, Parker, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'Parker', 'sentence': '0'}),
   Annotation(word_embeddings, 13, 14, is, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'is', 'sentence': '0'}),
   Annotation(word_embeddings, 16, 16, a, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'a', 'sentence': '0'}),
   Annotation(word_embeddings, 18, 21, nice, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'nice', 'sentence': '0'}),
   Annotation(word_embeddings, 23, 25, guy, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'guy', 'sentence': '0'}),
   Annotation(word_embeddings, 27, 29, and, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'and', 'sentence': '0'}),
   Annotation(word_embeddings, 31, 35, lives, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'lives', 'sentence': '0'}),
   Annotation(word_embeddings, 37, 38, in, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'in', 'sentence': '0'}),
   Annotation(word_embeddings, 40, 42, New, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'New', 'sentence': '0'}),
   Annotation(word_embeddings, 44, 47, York, {'isOOV': 'false', 'pieceId': '-1', 'isWordStart': 'true', 'token': 'York', 'sentence': '0'})],
  'entities': [Annotation(chunk, 0, 11, Peter Parker, {'entity': 'PER', 'sentence': '0', 'chunk': '0'}),
   Annotation(chunk, 40, 47, New York, {'entity': 'LOC', 'sentence': '0', 'chunk': '1'})],
  'lemma': [Annotation(token, 0, 4, Peter, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 6, 11, Parker, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 13, 14, be, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 16, 16, a, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 18, 21, nice, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 23, 25, guy, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 27, 29, and, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 31, 35, life, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 37, 38, in, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 40, 42, New, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 44, 47, York, {'confidence': '1.0', 'sentence': '0'})],
  'ner': [Annotation(named_entity, 0, 4, B-PER, {'word': 'Peter', 'sentence': '0'}),
   Annotation(named_entity, 6, 11, I-PER, {'word': 'Parker', 'sentence': '0'}),
   Annotation(named_entity, 13, 14, O, {'word': 'is', 'sentence': '0'}),
   Annotation(named_entity, 16, 16, O, {'word': 'a', 'sentence': '0'}),
   Annotation(named_entity, 18, 21, O, {'word': 'nice', 'sentence': '0'}),
   Annotation(named_entity, 23, 25, O, {'word': 'guy', 'sentence': '0'}),
   Annotation(named_entity, 27, 29, O, {'word': 'and', 'sentence': '0'}),
   Annotation(named_entity, 31, 35, O, {'word': 'lives', 'sentence': '0'}),
   Annotation(named_entity, 37, 38, O, {'word': 'in', 'sentence': '0'}),
   Annotation(named_entity, 40, 42, B-LOC, {'word': 'New', 'sentence': '0'}),
   Annotation(named_entity, 44, 47, I-LOC, {'word': 'York', 'sentence': '0'})],
  'pos': [Annotation(pos, 0, 4, NNP, {'word': 'Peter', 'sentence': '0'}),
   Annotation(pos, 6, 11, NNP, {'word': 'Parker', 'sentence': '0'}),
   Annotation(pos, 13, 14, VBZ, {'word': 'is', 'sentence': '0'}),
   Annotation(pos, 16, 16, DT, {'word': 'a', 'sentence': '0'}),
   Annotation(pos, 18, 21, JJ, {'word': 'nice', 'sentence': '0'}),
   Annotation(pos, 23, 25, NN, {'word': 'guy', 'sentence': '0'}),
   Annotation(pos, 27, 29, CC, {'word': 'and', 'sentence': '0'}),
   Annotation(pos, 31, 35, NNS, {'word': 'lives', 'sentence': '0'}),
   Annotation(pos, 37, 38, IN, {'word': 'in', 'sentence': '0'}),
   Annotation(pos, 40, 42, NNP, {'word': 'New', 'sentence': '0'}),
   Annotation(pos, 44, 47, NNP, {'word': 'York', 'sentence': '0'})],
  'sentence': [Annotation(document, 0, 47, Peter Parker is a nice guy and lives in New York, {'sentence': '0'})],
  'stem': [Annotation(token, 0, 4, peter, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 6, 11, parker, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 13, 14, i, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 16, 16, a, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 18, 21, nice, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 23, 25, gui, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 27, 29, and, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 31, 35, live, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 37, 38, in, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 40, 42, new, {'confidence': '1.0', 'sentence': '0'}),
   Annotation(token, 44, 47, york, {'confidence': '1.0', 'sentence': '0'})],
  'token': [Annotation(token, 0, 4, Peter, {'sentence': '0'}),
   Annotation(token, 6, 11, Parker, {'sentence': '0'}),
   Annotation(token, 13, 14, is, {'sentence': '0'}),
   Annotation(token, 16, 16, a, {'sentence': '0'}),
   Annotation(token, 18, 21, nice, {'sentence': '0'}),
   Annotation(token, 23, 25, guy, {'sentence': '0'}),
   Annotation(token, 27, 29, and, {'sentence': '0'}),
   Annotation(token, 31, 35, lives, {'sentence': '0'}),
   Annotation(token, 37, 38, in, {'sentence': '0'}),
   Annotation(token, 40, 42, New, {'sentence': '0'}),
   Annotation(token, 44, 47, York, {'sentence': '0'})]}]

In [69]:
detailed_result[0]['entities']

[Annotation(chunk, 0, 11, Peter Parker, {'entity': 'PER', 'sentence': '0', 'chunk': '0'}),
 Annotation(chunk, 40, 47, New York, {'entity': 'LOC', 'sentence': '0', 'chunk': '1'})]

In [72]:
detailed_result[0]['entities'][1].result

'New York'

In [73]:
chunks=[]
entities=[]
for n in detailed_result[0]['entities']:
        
  chunks.append(n.result)
  entities.append(n.metadata['entity']) 
    
df = pd.DataFrame({'chunks':chunks, 'entities':entities})
df

         chunks entities
0  Peter Parker      PER
1      New York      LOC

In [74]:
tuples = []

for x,y,z in zip(detailed_result[0]["token"], detailed_result[0]["pos"], detailed_result[0]["ner"]):

  tuples.append((int(x.metadata['sentence']), x.result, x.begin, x.end, y.result, z.result))

df = pd.DataFrame(tuples, columns=['sent_id','token','start','end','pos', 'ner'])

df

    sent_id   token  start  end  pos    ner
0         0   Peter      0    4  NNP  B-PER
1         0  Parker      6   11  NNP  I-PER
2         0      is     13   14  VBZ      O
3         0       a     16   16   DT      O
4         0    nice     18   21   JJ      O
5         0     guy     23   25   NN      O
6         0     and     27   29   CC      O
7         0   lives     31   35  NNS      O
8         0      in     37   38   IN      O
9         0     New     40   42  NNP  B-LOC
10        0    York     44   47  NNP  I-LOC

**Sentiment Analysis**

**Vivek algo**



```
Vivek algo
paper: Fast and accurate sentiment classification using an enhanced Naive Bayes model

https://arxiv.org/abs/1305.6143

code https://github.com/vivekn/sentiment
```

In [75]:
sentiment = PretrainedPipeline('analyze_sentiment', lang='en')

analyze_sentiment download started this may take some time.
Approx size to download 4.9 MB
[OK!]

In [76]:
result = sentiment.annotate("The movie I watched today was not a good one")

result['sentiment']

['negative']

**DL version (trained on imdb)**

In [80]:
sentiment_imdb = PretrainedPipeline('analyze_sentimentdl_use_imdb', lang='en')

analyze_sentimentdl_use_imdb download started this may take some time.
Approx size to download 935.7 MB
[OK!]

In [85]:
sentiment_imdb_glove = PretrainedPipeline('analyze_sentimentdl_glove_imdb', lang='en')

analyze_sentimentdl_glove_imdb download started this may take some time.
Approx size to download 155.3 MB
[OK!]

In [86]:
comment = '''
It's a very scary film but what impressed me was how true the film sticks to the original's tricks; it isn't filled with loud in-your-face jump scares, in fact, a lot of what makes this film scary is the slick cinematography and intricate shadow play. The use of lighting and creation of atmosphere is what makes this film so tense, which is why it's perfectly suited for those who like Horror movies but without the obnoxious gore.
'''
result = sentiment_imdb_glove.annotate(comment)

result['sentiment']

['pos']

In [87]:
sentiment_imdb_glove.fullAnnotate(comment)[0]['sentiment']

[Annotation(category, 0, 433, pos, {'sentence': '0', 'pos': '0.98675287', 'neg': '0.013247096'})]